<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Friend App', root_path, class:"navbar-brand" %>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <%= link_to "About Us", root_path, class:"nav-link" %>
      </li>
      
        <li class="nav-item">
          <%= link_to "Sign Up", root_path, class:"nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Sign In", root_path, class:"nav-link" %>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
-->


<!--strat section -->
  <section class="site-hero overlay" style="background-image: url(../images/hero_4.jpg)" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-10 text-center">
            <span class="custom-caption text-uppercase text-white d-block  mb-3">Welcome To Our <span class="fa fa-star text-primary"></span>   Hotel</span>
            <h1 class="heading">A Best Place To Stay</h1>
          </div>
        </div>
      </div>
      
      <a class="mouse smoothscroll" href="#next">
        <div class="mouse-icon">
          <span class="mouse-wheel"></span>
        </div>
      </a>
    </section>
    <!-- END section -->

    
    <section class="section bg-light pb-0" style="margin-top:-6%"; >
      <div class="container">
       
        <div class="row check-availabilty" id="next">
          <div class="block-32">

            <form action="#">
              <div class="row">
                <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                  <label for="checkin_date" class="font-weight-bold text-black">Check In</label>
                  <div class="field-icon-wrap">
                    <div class="icon"><span class="icon-calendar"></span></div>
                    <input type="date" id="checkin_date" class="form-control" required>
                  </div>
                </div>
                <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                  <label for="checkout_date" class="font-weight-bold text-black">Check Out</label>
                  <div class="field-icon-wrap">
                    <div class="icon"><span class="icon-calendar"></span></div>
                    <input type="date" id="checkout_date" class="form-control" required>
                  </div>
                </div>
                <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
                  <div class="row">
                    <div class="col-md-6 mb-3 mb-md-0">
                      <label for="adults" class="font-weight-bold text-black">Adults</label>
                      <div class="field-icon-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select name="" id="adults" class="form-control">
                          <option value="">1</option>
                          <option value="">2</option>
                          <option value="">3</option>
                          <option value="">4</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3 mb-md-0">
                      <label for="children" class="font-weight-bold text-black">Children</label>
                      <div class="field-icon-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select name="" id="children" class="form-control">
                          <option value="">0</option>
                          <option value="">1</option>
                          <option value="">2</option>
                          <option value="">3</option>
                          <option value="">4</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 align-self-end pb-1">
                  <button class="btn btn-primary btn-block text-white">Check Availabilty</button>
                </div>
              </div>
            </form>
          </div>


        </div>
      </div>
    </section>

    <%= render 'layouts/availableRooms' %>

  <section class="py-5 bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-7 ml-auto order-lg-2 position-relative mb-5">
            <figure class="img-absolute">
              <img src="../images/food-1.jpg" alt="Image" class="img-fluid">
            </figure>
            <img src="../images/img_1.jpg" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col-md-12 col-lg-4 order-lg-1">
            <h2 class="heading">Welcome!</h2>
            <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p>
            <% if current_user %>
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-success text-white py-2 mr-3' %>
            <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-danger text-white py-2 mr-3'  %>
            <% else %>
            <%= link_to 'sign up', new_user_registration_path, class: 'btn btn-secondary text-white py-2 mr-3' %>
            <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary text-white py-2 mr-3' %>
            <% end %>
             </p>
          </div>
          
        </div>
      </div>
    </section>



<%# <section class="bg-dark text-light p-5 text-center">
    <div class="container">
        <div class="d-flex">
            <div class="col-8 text-center">
               <h1>Looking for a <span class="text-warning">Best Hotel</span></h1>
            </div>
            <%# <img class="img-fluid w-50 d-none d-sm-block" src="../../lib/assets/images/hotel-dark.png" alt="" /> %>
            <%# <%= image_tag "hotel-dark.png", class:"img-fluid d-none d-sm-block" %> 
        <%# </div> %>
    <%# </div> %>
<%# </section>  %>