<!--strat section -->
<section class="site-hero overlay" style="background-image: url(../images/hero_4.jpg)"
  data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row site-hero-inner justify-content-center align-items-center">
      <div class="col-md-10 text-center">
        <span class="custom-caption text-uppercase text-white d-block  mb-3">Welcome To Our <span
            class="fa fa-star text-primary"></span> Hotel</span>
        <h1 class="heading">A Best Place To Stay</h1>
      </div>
    </div>
  </div>

  <a class="mouse smoothscroll" href="#book">
    <div class="mouse-icon">
      <span class="mouse-wheel"></span>
    </div>
  </a>
</section>
<!-- END section -->


<section class="section bg-light pb-0" style="margin-top:-6%" ;>
  <div class="container">

    <div class="row check-availabilty" id="book">
      <div class="block-32">

        <%= form_with url: available_rooms_path(format: :html), method: :post, id: 'availabilityCheckForm' do |form| %>

        <div class="row">
          <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
            <label for="checkin_date" class="font-weight-bold text-black">Check In</label>
            <div class="field-icon-wrap">
              <div class="icon"><span class="icon-calendar"></span></div>
              <%= form.date_field :checkin_date, class: 'form-control checkInDate', :required => true, min: Date.today, value: ($checkin_date != "") ? $checkin_date : Date.today %>
            </div>
          </div>
          <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
            <label for="checkout_date" class="font-weight-bold text-black">Check Out</label>
            <div class="field-icon-wrap">
              <div class="icon"><span class="icon-calendar"></span></div>
              <%= form.date_field :checkout_date, class: 'form-control checkOutDate', :required => true, min: Date.today, value: ($checkout_date != "") ? $checkout_date : Date.today  %>
            </div>
          </div>
          <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
            <div class="row">
              <div class="col-md-6 mb-3 mb-md-0">
                <label for="adults" class="font-weight-bold text-black">Adults</label>
                <div class="field-icon-wrap">
                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                  <%= form.select :adult_count, options_for_select([1,2,3,4], :selected => ($adult_count != 0) ? $adult_count : 1), {}, { required: 'true', autofocus: 'true', class: 'form-control', id: 'adult_count'} %>
                </div>
              </div>
              <div class="col-md-6 mb-3 mb-md-0">
                <label for="children" class="font-weight-bold text-black">Children</label>
                <div class="field-icon-wrap">
                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                  <%= form.select :child_count, options_for_select([0,1,2,3,4], :selected => $child_count != 0 ? $child_count : 0 ), {}, { required: 'true', autofocus: 'true', class: 'form-control', id: 'children_count'} %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 align-self-end pb-1">
            <button type="button" class="btn btn-primary btn-block text-white" onclick="formSubmitCheck()">Check
              Availabilty</button>
          </div>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</section>

<%= render 'layouts/availableRooms', :categories => @available_categories , :bookingButtonStatus => @booking_button_status %>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 col-lg-7 ml-auto order-lg-2 position-relative mb-5">
        <figure class="img-absolute">
          <img src="../images/food-1.jpg" alt="Image" class="img-fluid">
        </figure>
        <img src="../images/img_1.jpg" alt="Image" class="img-fluid rounded">
      </div>
      <div class="col-md-12 col-lg-4 order-lg-1">
        <h2 class="heading">Welcome!</h2>
        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
          live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
          language ocean.</p>
        <p>
          <% if current_user %>
          <div class="d-flex">
            <%= link_to 'Dashboard', dashboard_path, :class => 'btn btn-primary text-white py-2 mx-3' %>
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-success text-white py-2 mr-3' %>
          </div>

          <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-danger text-white py-2 my-2 mx-3'  %>
          <% else %>
          <%= link_to 'sign up', new_user_registration_path, class: 'btn btn-secondary text-white py-2 mr-3' %>
          <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary text-white py-2 mr-3' %>
          <% end %>
        </p>
      </div>

    </div>
  </div>
</section>

<script>
  function formSubmitCheck() {
    var diff = new Date(new Date($('.checkOutDate').val()) - new Date($('.checkInDate').val()));
    var days = (diff / 1000 / 60 / 60 / 24) + 1;
    if (days !== 'NaN' && days > 0) {
      $('#availabilityCheckForm').submit();
    } else {
      alert("Kindly check the date before submit...")
    }
  }
</script>