 <section class="site-hero inner-page overlay" style="background-image: url(images/hero_4.jpg)" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-10 text-center">
            <h1 class="heading mb-3">Reservation Form</h1>
            <!-- <ul class="custom-breadcrumbs mb-4">
              <li><%= link_to "Home", root_path %></li>
              <li>&bullet;</li>
              <li>Reservation</li>
            </ul> -->
          </div>
        </div>
      </div>

      <a class="mouse smoothscroll" href="#reservationForm">
        <div class="mouse-icon">
          <span class="mouse-wheel"></span>
        </div>
      </a>
    </section>
    <!-- END section -->

    <section class="section contact-section" id="reservationForm">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            
            <%= form_with url: new_room_booking_path, method: :post do |form| %>
              <div class="row">
                <div class="col-md-6 form-group">
                    <%= form.label :name, style: "display: block", class: 'text-black font-weight-bold' %>
                    <%= form.text_field :name, class: 'form-control' %>
                </div>
                <div class="col-md-6 form-group">
                    <%= form.label :phone, style: "display: block", class: 'text-black font-weight-bold' %>
                    <%= form.text_field :phone, class: 'form-control' %>
                </div>
              </div>
          
              <div class="row mt-2">
                <div class="col-md-12 form-group">
                    <%= form.label :email, style: "display: block", class: 'text-black font-weight-bold' %>
                    <%= form.email_field :email, class: 'form-control' %>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 form-group">
                    <%= form.label :check_in, style: "display: block", class: 'text-black font-weight-bold' %>
                    <%= form.text_field :check_in, class: 'form-control', value: $checkin_date, readonly: 'true' %>
                </div>
                <div class="col-md-6 form-group">
                    <%= form.label :check_out, style: "display: block", class: 'text-black font-weight-bold' %>
                    <%= form.text_field :check_out, class: 'form-control', value: $checkout_date, readonly: 'true' %>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="adults" class="font-weight-bold text-black">Adults</label>
                  <div class="field-icon-wrap">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <%= form.select :adult_count, options_for_select([1,2,3,4], :selected => $adult_count), {}, { required: 'true', autofocus: 'true', class: 'form-control', id: 'adult_count', value: $adult_count} %>

                    <!-- <select name="" id="adults" class="form-control" value="<%= $adult_count %>">
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4+</option>
                    </select> -->
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <label for="children" class="font-weight-bold text-black">Children</label>
                  <div class="field-icon-wrap">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <%= form.select :child_count, options_for_select([0,1,2,3,4], :selected => $child_count), {}, { required: 'true', autofocus: 'true', class: 'form-control', id: 'child_count', value: $child_count} %>

                    <!-- <select name="" id="children" class="form-control" value="<%= $child_count %>">
                      <option value="">0</option>
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4+</option>
                    </select> -->
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-md-12 form-group">
                  <label class="text-black font-weight-bold" for="message">Notes</label>
                  <%= form.text_area :message, size: "30x5", class: 'form-control' %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                <%= form.submit 'Reserve now', class: 'btn btn-primary text-white py-3 px-5 font-weight-bold'%>
                </div>
              </div>
            <%# </form> %>
            <% end %>

          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-10 ml-auto contact-info">
                <p><span class="d-block">Address:</span> <span class="text-black mt-2"> Maduravoyal, Chennai</span></p>
                <p><span class="d-block">Phone:</span> <span class="text-black"> (+91) 9626232469</span></p>
                <p><span class="d-block">Email:</span> <span class="text-black"> vinithk23@gmail.com</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section testimonial-section bg-light">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-7">
            <h2 class="heading">People Says</h2>
          </div>
        </div>
        <div class="row">
          <div class="js-carousel-2 owl-carousel mb-5">
            
            <div class="testimonial text-center slider-item">
              <div class="author-image mb-3">
                <img src="images/person_1.jpg" alt="Image placeholder" class="rounded-circle mx-auto">
              </div>
              <blockquote>

                <p>&ldquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.&rdquo;</p>
              </blockquote>
              <p><em>&mdash; Jean Smith</em></p>
            </div> 

            <div class="testimonial text-center slider-item">
              <div class="author-image mb-3">
                <img src="images/person_2.jpg" alt="Image placeholder" class="rounded-circle mx-auto">
              </div>
              <blockquote>
                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
              </blockquote>
              <p><em>&mdash; John Doe</em></p>
            </div>

            <div class="testimonial text-center slider-item">
              <div class="author-image mb-3">
                <img src="images/person_3.jpg" alt="Image placeholder" class="rounded-circle mx-auto">
              </div>
              <blockquote>

                <p>&ldquo;When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.&rdquo;</p>
              </blockquote>
              <p><em>&mdash; John Doe</em></p>
            </div>


            <div class="testimonial text-center slider-item">
              <div class="author-image mb-3">
                <img src="images/person_1.jpg" alt="Image placeholder" class="rounded-circle mx-auto">
              </div>
              <blockquote>

                <p>&ldquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.&rdquo;</p>
              </blockquote>
              <p><em>&mdash; Jean Smith</em></p>
            </div> 

            <div class="testimonial text-center slider-item">
              <div class="author-image mb-3">
                <img src="images/person_2.jpg" alt="Image placeholder" class="rounded-circle mx-auto">
              </div>
              <blockquote>
                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
              </blockquote>
              <p><em>&mdash; John Doe</em></p>
            </div>

            <div class="testimonial text-center slider-item">
              <div class="author-image mb-3">
                <img src="images/person_3.jpg" alt="Image placeholder" class="rounded-circle mx-auto">
              </div>
              <blockquote>

                <p>&ldquo;When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.&rdquo;</p>
              </blockquote>
              <p><em>&mdash; John Doe</em></p>
            </div>

          </div>
            <!-- END slider -->
        </div>

      </div>
    </section>

    <section class="section bg-image overlay" style="background-image: url('images/hero_4.jpg');">
        <div class="container" >
          <div class="row align-items-center">
            <div class="col-12 col-md-6 text-center mb-4 mb-md-0 text-md-left">
              <h2 class="text-white font-weight-bold">A Best Place To Stay. Reserve Now!</h2>
            </div>
            <div class="col-12 col-md-6 text-center text-md-right">
              <a href="#reservationForm" class="btn btn-outline-white-primary py-3 text-white px-5">Reserve Now</a>
            </div>
          </div>
        </div>
      </section>