<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <!-- CSS only -->
  </head>
  <body>
    <h1>Hello <%= @current_user ? @current_user.name : 'User' %> !</h1>
    <p><h3><%= (@booking.status == 'Active') ? 'Thanks for choosing us and your Reservation have been Succesfully Placed.' : 'Your Reservation have been Cancelled.' %></h3> Reservation details are attached to this mail.</p><p>Take a look, have a great day!</p>
    <div>
      <section class="section contact-section mt-2 py-2">
      <div class="container">
        <table>
          <tbody>
            <tr><td><p class="">Name: <%= @booking.user.name %></p></td></tr>
            <tr><td><p>Phone: <%= @booking.user.phone %></p></td></tr>
            <tr><td><p style="text-decoration: none;">Email: <%= @booking.user.email %></p></td></tr>
            <tr><td><p>Check In: <%= @booking.check_in %></p></td></tr>
            <tr><td><p>Check Out: <%= @booking.check_out %></p></td></tr>
            <tr><td><p>Adults: <%= @booking.adult_count %></p></td></tr>
            <tr><td><p>Children: <%= @booking.child_count %></p></td></tr>
            <tr><td><p>Notes: <%= (@booking.notes != "") ? @booking.notes : "   - " %></p></td></tr>
            <hr>
            <tr><td><p>Reservation No: <%= (@booking.created_at.year.to_s + '00000').to_i +  @booking.id %></p></td></tr>
            <tr><td><p>Room Type: <%= @booking.room.category.name %></p></td></tr>
            <tr><td><p>Room No: <%= @booking.room.room_no %></p></td></tr>
            <tr><td><p>Fare: <%= number_to_currency(@booking.per_day_amount, :unit => "₹ ") %><span class="mt-3 mx-2"> x </span> <span class="border ml-2 p-1 mt-3" id="reservationDays"><% bookedDaysCount = (@booking.check_in..@booking.check_out).count %><%= bookedDaysCount %><%= (bookedDaysCount > 1) ? ' days' : ' day' %></span> =  <%= number_to_currency((@booking.amount), :unit => "₹ ") %></p></td></tr>
          </tbody>
        </table>
        
      </div>
</section>
    
    </div>
  </body>
</html>