<%= form_with(model: feature) do |form| %>
  <% if feature.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(feature.errors.count, "error") %> prohibited this feature from being saved:</h2>

      <ul>
        <% feature.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex form-group">
    <%= form.label :name, style: "display: block", class: 'my-3' %>
    <%= form.text_field :name, class: 'form-control w-50 mx-3' %>
  </div>

  <div>
    <%= form.submit 'Submit', class: 'btn btn-primary my-2' %>
  </div>
<% end %>
