<section class="section bg-light">
    <div class="container">
<% if categories.count > 0 %>
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-7">
            <h2 class="heading">Available Rooms</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          </div>
        </div>
      <% categories.each_with_index do |category, index| %>
      <div class="featureDetailsParentDiv">
        <div class="site-block-half d-block d-lg-flex bg-white">
          <a href="#" class="image d-block bg-image-2 <%= index.odd? ? 'order-2' : '' %>" style="background-image: url('<%= (category.image.present?) ? rails_blob_url(category.image) :  "" %>');"></a>
          <div class="text">
            <span class="d-block mb-4"><span class="display-4 text-primary">₹<%= category.amount ? category.amount : 0 %></span> <span class="text-uppercase letter-spacing-2">/ per day</span> </span>
            <h2 class="mb-4"><%= category.name ? category.name : '' %></h2>
            <p><%= category.content ? category.content : '' %></p>
            <p><a href="<%= (bookingButtonStatus == 0) ? '#book' : room_reservation_path(category)  %>" class="btn btn-primary text-white">Book Now</a><a class="featureViewClick btn btn-secondary mx-3">Check Details</a></p>
          </div>
        </div>

        <div class="bg-white featureDetails">
          <section class="section">
           <div class="container">
            <div class="row col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-4 featureBox justify-content-center text-center mx-3">
                <h3 class="featureHeading text-primary mt-0 py-1">Included</h3><hr class="mt-0">
                <% allowedFeatures = category.with_features %>
                <% if allowedFeatures.count > 0 %>
                    <% allowedFeatures.each do |feature| %>
                       <p><%= feature.name %></p>
                    <% end %>
                  <% else %>
                    <div class="justify-content-between">
                        <h2> You didn't have any access to any features </h2>
                    </div>
                <% end %>
            </div>
            <div class="col-md-4 featureBox justify-content-center text-center mx-3">
                <h3 class="featureHeading text-primary mt-0 py-1">Not Included</h3><hr class="mt-0">
                <% restrictedFeatures = category.without_features %>
                <% if restrictedFeatures.count > 0 %>
                    <% restrictedFeatures.each do |feature| %>
                        <p><%= feature.name %></p>
                    <% end %>
                  <% else %>
                    <div class="justify-content-between">
                        <h2> You didn't have any Restrictions to access </h2>
                    </div>
                <% end %>
            </div>
            <div class="col-md-2"></div>
           </div>
          </section>
        </div>
      </div>
      <% end %>
  <% else %>
      <div class="row justify-content-center text-center mb-5">
          <div class="col-md-7">
            <h2 class="heading">No Rooms Available on the Selected Dates</h2>
          </div>
        </div>
<% end %>
    </div>
</section>

      <%# <div class="featureDetailsParentDiv">
        <div class="site-block-half d-block d-lg-flex bg-white">
          <a href="#" class="image d-block bg-image-2 order-2" style="background-image: url('images/img_2.jpg');"></a>
          <div class="text order-1">
            <span class="d-block mb-4"><span class="display-4 text-primary">₹299</span> <span class="text-uppercase letter-spacing-2">/ per day</span> </span>
            <h2 class="mb-4">Presidential Room</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p><a href="#" class="btn btn-primary text-white">Book Now</a><a class="featureViewClick btn btn-secondary mx-3">Check Deatails</a></p>
          </div>
        </div>
         <div class="bg-white featureDetails">
         111111111111111 kjdcbjdcb <br> 
          111111111111111 kjdcbjdcb <br>
          111111111111111 kjdcbjdcb <br>
          111111111111111 kjdcbjdcb <br>
          111111111111111 kjdcbjdcb <br>
          111111111111111 kjdcbjdcb <br>
        </div>
      </div> %>

<script>

$('.featureDetails').hide();

$(".featureViewClick").click(function(e) {
  let divElement = $(this).parents('div').closest('.featureDetailsParentDiv').find('.featureDetails');
    if(divElement.is(':hidden')){
        divElement.show();
        $(this).text('Hide Details');
    } else {
        divElement.hide();
        $(this).text('Check Details');
    }
})

</script>